@tailwind base;
@tailwind components;
@tailwind utilities;

.logoImage {
  @apply object-scale-down;
  @apply max-h-[90px];
}

.pageHeaders {
  @apply text-5xl;
  @apply font-bold;
}

.aboutText {
  @apply text-left;
}

.aboutImage{
  @apply object-scale-down;
  @apply h-[1000px];
  @apply flex;
  @apply object-center;
}

.contactHeader {
  @apply text-2xl;
  @apply font-bold;
}

.contactText {
  @apply text-lg;
}

.contactInfoDiv{
  @apply content-center;
}


.homeImage{
  @apply object-scale-down;
  @apply max-h-[500px];
  @apply place-items-center;
  @apply px-[585px];
  @apply object-center;
  @apply relative;
  @apply place-content-center;
  @apply flex;
  @apply items-center;
}

.portfolioImage{
  @apply object-scale-down;
  @apply max-h-[300px];
  @apply flex;
  @apply object-center;
}

.portfolio{
  @apply grid;
  @apply grid-cols-4;
  @apply gap-4;
  @apply place-items-center;
}

.footerLink {
  @apply visited:text-purple-900;
  @apply hover:text-teal-300;
}

.App {
  text-align: center;
  background-color: #fbf7f4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
